<script>
import { mapActions, mapState } from "vuex"
import { SELECT_TILE } from "../store/actions"

export default {
  props: {
    tile: { required: true }
  },
  computed: {
    isFound() {
      return this.foundTiles.includes(this.tile)
    },
    isShown() {
      return this.isFound || this.selectedPair.includes(this.tile)
    },
    ...mapState(["foundTiles", "selectedPair"])
  },
  methods: mapActions({
    selectTile: SELECT_TILE
  })
}
</script>

<template>
  <span
    class="card-container"
    :class="{
      'card-container--shown': isShown,
      'card-container--found': isFound
    }"
  >
    <a class="card" @click="selectTile({ tile })">
      <img
        class="card__face card__face--front"
        :src="tile.pokemon.img"
        :alt="tile.pokemon.name"
      />
      <img
        class="card__face card__face--back"
        src="../assets/tab_logo.png"
        alt="TAB Logo"
      />
    </a>
  </span>
</template>

<style lang="stylus" scoped>
.card-container
  transform-style preserve-3d
  &--found
    display inline-block
    animation found-animation 200ms
  &--shown .card
    transform rotateX(0deg) translateY(0)

.card
  display inline-block
  position relative
  cursor pointer
  margin 0.5rem
  width 96px
  height 96px
  box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  transition transform 400ms
  transform rotateX(180deg) translateY(-100%)
  transform-origin top center
  transform-style preserve-3d

  &__face
    position absolute
    backface-visibility hidden
    top 0
    left 0
    right 0
    bottom 0
    &--front
      background-color #FFF
    &--back
      width 100%
      height 100%
      transform rotateX(180deg)

  @keyframes found-animation
    0%
      transform scale(1)
    50%
      transform scale(1.15)
    100%
      transform scale(1)
</style>
