<script>
import { mapState } from "vuex"
import PokePuzzleTile from "./PokePuzzleTile"

export default {
  components: { PokePuzzleTile },
  computed: mapState(["grid", "isLoading", "errorMessage"])
}
</script>

<template>
  <div class="puzzle">
    <div v-if="isLoading">
      Loading...
    </div>
    <div v-if="errorMessage">
      {{ errorMessage }}
    </div>
    <template v-if="grid">
      <div v-for="(line, i) in grid" :key="i">
        <PokePuzzleTile v-for="tile in line" :tile="tile" :key="tile.tileId" />
      </div>
    </template>
  </div>
</template>

<style lang="stylus" scoped>
.puzzle
  display inline-block
  perspective 600px
</style>
