<script>
import { mapActions, mapState } from "vuex"
import PokePuzzle from "./components/PokePuzzle"
import { LOAD_GRID } from "./store/actions"

export default {
  components: { PokePuzzle },
  created() {
    this.loadGrid(this.gridSize)
  },
  computed: mapState(["gridSize"]),
  methods: {
    onGridSizeXChange(event) {
      this.loadGrid({ x: event.target.value, y: this.gridSize.y })
    },
    onGridSizeYChange(event) {
      this.loadGrid({ x: this.gridSize.x, y: event.target.value })
    },
    reset() {
      this.loadGrid(this.gridSize)
    },
    ...mapActions({
      loadGrid: LOAD_GRID
    })
  }
}
</script>

<template>
  <div class="app">
    <h1 class="title">Poke Puzzle</h1>
    <div class="inputs">
      <input type="number" :value="gridSize.x" @input="onGridSizeXChange" />
      <input type="number" :value="gridSize.y" @input="onGridSizeYChange" />
      <button @click="reset">Reset</button>
    </div>
    <PokePuzzle class="poke-puzzle" />
  </div>
</template>

<style lang="stylus" scoped>
.app
  display flex
  flex-direction column
  justify-content center
  font-family "Noto Sans"
  .title
    align-self center
    color #fb451f
  .inputs
      align-self center
      margin-bottom 1rem
      input
        margin 0.5rem
        border 1px solid #CCC
        border-radius 3px
        padding 0.5rem
  .poke-puzzle
      align-self center
</style>
